<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4" id="waitlist">

			<img src="/img/logo-mark.svg" alt="Trail Notes logo" class="db w3 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Join the waitlist</p>
			<p>Be the first to know when Trail Notes opens up. One email when it’s ready, and nothing in between.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 highlight">Trail Notes</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/features/" class="link">Features</a></li>
					<li><a href="/features/#pricing" class="link">Pricing</a></li>
					<li><a href="/post/" class="link">Journal</a></li>
					<li><a href="/contact/" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 highlight">Get started</h3>
				<ul class="mb3">
					<li><a href="/#waitlist" class="link">Join the waitlist</a></li>
					<li><a href="/contact/" class="link">Send feedback</a></li>
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
