<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pv3 pl3 pr2 pr3-ns flex items-center flex-none no-underline mr2 mr4-ns" aria-label="Trail Notes home">
		<img src="/img/logo-mark.svg" alt="" class="br0 db mb0 w2 h2"/>
		<span class="b f4 black ml2 dn dib-ns">Trail Notes</span>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b f6 f5-ns grey-3">
		<li><a href="/features/" class="pv3 ph2 ph3-ns no-underline db">Features</a></li>

		<li><a href="/features/#pricing" class="pv3 ph2 ph3-ns no-underline db">Pricing</a></li>

		<li><a href="/post/" class="pv3 ph2 ph3-ns no-underline db">Journal</a></li>

		<li><a href="/contact/" class="pv3 ph2 ph3-ns no-underline db">Contact</a></li>
	</ul>

</nav>
