<form name="waitlist" method="POST" data-netlify="true" netlify-honeypot="bot-field" class="flex-ns mb3">

  <input type="hidden" name="form-name" value="waitlist">
  <p class="dn"><label>Don’t fill this out: <input name="bot-field"></label></p>

  <fieldset class="flex-auto mb2 mb0-ns mr2-ns">
    <input type="email" id="waitlist-email" name="email" placeholder="Your email" class="w-100" required>
    <label for="waitlist-email">Your email</label>
  </fieldset>

  <button class="btn mb3 w-100 w-auto-ns mb0-ns raise" type="submit">Join</button>

</form>
