<div class="ph2">

	<!-- Title -->
	<h3 class="b f5 grey-3 tc lh-title mb3">{{.plan}}</h3>

	<!-- Price -->
	<p class="primary f1 b tc lh-title center mb1">
		<span class="f4">$</span>{{.price}}
	</p>
	<p class="grey-3 f6 b tc mb3">{{ with .period }}{{ . }}{{ else }}&nbsp;{{ end }}</p>

	<!-- Description -->
	<p class="b">{{.description}}</p>

	<!-- Features -->
	<ul>
		{{ $itemCount := len .items }}
		{{ range $index, $item := .items }}
		<li>
			<p class="{{ if ne (add 1 $index) $itemCount }}pb2 mb2 divider-grey{{ end }}">{{ $item }}</p>
		</li>
		{{ end }}
	</ul>

</div>
