{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "waitlist" true) }}

{{ partial "feature-grid" (dict "heading" .Params.intro.heading "description" .Params.intro.text "items" .Params.steps) }}

{{ partial "sample-entry" .Params.sample }}

{{ partial "text-and-image" (dict "bg" "bg-highlight" "heading" .Params.plus.heading "text" .Params.plus.text "image" .Params.plus.image "imageAlt" .Params.plus.imageAlt "buttonText" "See pricing" "buttonLink" "/features/#pricing") }}

{{ end }}
